:root {
    --text-color: #fff;
    --visited-link-color: #bbb;
    --background-color: #333;
    --accent-background-color: #444;
    --shadow-color: #222;

    /* Star constants */
    --sin-18: 0.30902;
    --cos-18: 0.95106;
    --tan-18: 0.32492;

    --tan-36: 0.72654;

    --sin-54: 0.80902;
    --cos-54: 0.58779;
    --tan-54: 1.37638;
}

*,
*::before,
*::after {
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.viewport {
    width: 100vw;
    min-height: 100vh;
    padding: 1rem 1.5rem;
}

a {
    color: var(--text-color);
}

a:visited {
    color: var(--visited-link-color);
}

ul,
ol {
    margin-bottom: .5rem;
}

code {
    font-size: 1.1rem;
    font-family: monospace;
    background-color: var(--accent-background-color);
}

blockquote {
    background-color: var(--accent-background-color);
    padding: .25rem .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.flag {
    /**
        Star
        Requires the following variables to be defined:
            - --star-color
            - --star-background-color
            - --star-radius
            - --star-x-position
            - --star-y-position

        Note:
            Sizing and position variables should be defined relative to --width and --height rather than using % units.
    */
    --star-interior-angle: 36deg;
    --star-indent-angle: 108deg;
    --star-width: calc(var(--star-radius) * 2);
	--star-height: calc(var(--star-radius) * (1 + var(--sin-54)));
    --star-sizing: no-repeat var(--star-x-position) var(--star-y-position) / var(--star-width) var(--star-height);
    --star-sizing-bottom-coverer: no-repeat var(--star-x-position) calc(var(--star-y-position) + 1px) / var(--star-width) calc(var(--star-height) + 1px);
    --star-sizing-left-half: no-repeat var(--star-x-position) var(--star-y-position) / calc(var(--star-width) / 2) var(--star-height);
    --star-sizing-right-half: no-repeat calc(var(--star-x-position) + var(--star-radius)) var(--star-y-position) / calc(var(--star-width) / 2) var(--star-height);
    --star-top-side-h-position: calc(var(--star-radius) * (1 - var(--cos-18)));
    --star-top-side-v-position: calc(var(--star-radius) * (1 - var(--sin-18)));
    --single-five-pointed-star:
        conic-gradient(
            from 90deg at var(--star-top-side-h-position) var(--star-top-side-v-position),
            var(--star-color) 0 var(--star-interior-angle),
            transparent 0 360deg
        ) var(--star-sizing-left-half),
        conic-gradient(
            from calc(270deg - var(--star-interior-angle)) at calc(100% - var(--star-top-side-h-position)) var(--star-top-side-v-position),
            var(--star-color) 0 var(--star-interior-angle),
            transparent 0 360deg
        ) var(--star-sizing-right-half),
        conic-gradient(
            from calc(180deg - 108deg / 2) at 50% calc(100% - var(--star-height) * var(--tan-18) / var(--tan-54) - 1px),
            var(--star-background-color) 0 108deg,
            transparent 0 360deg
        ) var(--star-sizing-bottom-coverer),
        conic-gradient(
            from calc(180deg - var(--star-interior-angle) / 2) at 50% 0%,
            var(--star-color) 0 var(--star-interior-angle),
            transparent 0 360deg
        ) var(--star-sizing)
    ;
}
