.flag-suriname {
    --green: #007a33;
    --white: #fff;
    --red: #c8102e;
    --yellow: #ffcd00;

    --aspect-ratio: calc(2 / 3);

    --star-color: var(--yellow);
    --star-background-color: var(--red);
    --star-radius: calc(4 / 30 * var(--width));
    --star-x-position: calc((var(--width) - var(--star-width)) / 2);
    --star-y-position: calc((var(--height) - var(--star-height)) / 2);

    background:
        /* Star */
        var(--single-five-pointed-star),

        /* Background */
        linear-gradient(
            0deg,
            var(--green) 0 calc(4 / 20 * var(--height)),
            var(--white) 0 calc(6 / 20 * var(--height)),
            var(--red) 0 calc(14 / 20 * var(--height)),
            var(--white) 0 calc(16 / 20 * var(--height)),
            var(--green) 0 calc(20 / 20 * var(--height))
        )
    ;
}
