.flag-russia {
    --white: #fff;
    --blue: #0039a6;
    --red: #d00b0e;

    --proportion: calc(2 / 3);

    background-image:
        linear-gradient(
            180deg,
            var(--white) 0 calc(1 / 3 * var(--height)),
            var(--blue) 0 calc(2 / 3 * var(--height)),
            var(--red) 0 calc(3 / 3 * var(--height))
        )
    ;
}
