.flag-democratic-republic-of-the-congo {
    --blue: #007fff;
    --red: #ce1021;
    --yellow: #f7d618;

    --aspect-ratio: calc(3 / 4);

    --diagonal-angle: -31deg;

    --star-color: var(--yellow);
    --star-background-color: var(--blue);
    --star-radius: calc(0.157 * var(--width));
    --star-x-position: calc(0.034 * var(--width));
    --star-y-position: calc(0.051 * var(--height));

    background:
        /* Star */
        var(--single-five-pointed-star),

        /* Background/Stripe */
        linear-gradient(
            var(--diagonal-angle),
            transparent 41.3%,
            var(--yellow) 0 44.5%,
            var(--red) 0 55.5%,
            var(--yellow) 0 58.7%,
            transparent 58.7%
        )
    ;
    background-color: var(--blue);
}
