.flag-republic-of-artsakh {
    --red: #d30017;
    --blue: #0024a1;
    --yellow: #ebab16;
    --white: #fff;

    --aspect-ratio: calc(1 / 2);

    background:
        linear-gradient(
            90deg,
            var(--yellow) 0 calc(13 / 15 * 100%),
            var(--white) 0 calc(15 / 15 * 100%),
            var(--yellow) 0 100%
        ) 0 calc(8 / 9 * var(--height)),
        linear-gradient(
            90deg,
            var(--yellow) 0 calc(12 / 15 * 100%),
            var(--white) 0 calc(14 / 15 * 100%),
            var(--yellow) 0 100%
        ) 0 calc(7 / 9 * var(--height)),
        linear-gradient(
            90deg,
            var(--yellow) 0 calc(11 / 15 * 100%),
            var(--white) 0 calc(13 / 15 * 100%),
            var(--yellow) 0 100%
        ) 0 calc(6 / 9 * var(--height)),
        linear-gradient(
            90deg,
            var(--blue) 0 calc(10 / 15 * 100%),
            var(--white) 0 calc(12 / 15 * 100%),
            var(--blue) 0 100%
        ) 0 calc(5 / 9 * var(--height)),
        linear-gradient(
            90deg,
            var(--blue) 0 calc(9 / 15 * 100%),
            var(--white) 0 calc(11 / 15 * 100%),
            var(--blue) 0 100%
        ) 0 calc(4 / 9 * var(--height)),
        linear-gradient(
            90deg,
            var(--blue) 0 calc(10 / 15 * 100%),
            var(--white) 0 calc(12 / 15 * 100%),
            var(--blue) 0 100%
        ) 0 calc(3 / 9 * var(--height)),
        linear-gradient(
            90deg,
            var(--red) 0 calc(11 / 15 * 100%),
            var(--white) 0 calc(13 / 15 * 100%),
            var(--red) 0 100%
        ) 0 calc(2 / 9 * var(--height)),
        linear-gradient(
            90deg,
            var(--red) 0 calc(12 / 15 * 100%),
            var(--white) 0 calc(14 / 15 * 100%),
            var(--red) 0 100%
        ) 0 calc(1 / 9 * var(--height)),
        linear-gradient(
            90deg,
            var(--red) 0 calc(13 / 15 * 100%),
            var(--white) 0 calc(15 / 15 * 100%),
            var(--red) 0 100%
        ) 0 calc(0 / 9 * var(--height))
    ;
    background-repeat: no-repeat;
}
