.flag-lithuania {
    --yellow: #fdb913;
    --green: #006a44;
    --red: #c1272d;

    --proportion: calc(3 / 5);

    background-image:
        linear-gradient(
            180deg,
            var(--yellow) 0 calc(1 / 3 * var(--height)),
            var(--green) 0 calc(2 / 3 * var(--height)),
            var(--red) 0 calc(3 / 3 * var(--height))
        )
    ;
}
