.flag-jamaica {
    --black: #000;
    --green: #00b140;
    --gold: #fedb00;

    --aspect-ratio: calc(1 / 2);

    --diagonal-angle: 63.43deg;
    --stripe-width: calc(1 / 12 * var(--width));

    background-image:
        linear-gradient(
            calc(90deg + var(--diagonal-angle)),
            transparent 0 calc(50% - var(--stripe-width) / 2),
            var(--gold) 0 calc(50% + var(--stripe-width) / 2),
            transparent 0 100%
        ),
        linear-gradient(
            calc(90deg - var(--diagonal-angle)),
            transparent 0 calc(50% - var(--stripe-width) / 2),
            var(--gold) 0 calc(50% + var(--stripe-width) / 2),
            transparent 0 100%
        ),
        repeating-conic-gradient(
            from var(--diagonal-angle) at center,
            var(--black) 0 calc(180deg - 2 * var(--diagonal-angle)),
            var(--green) 0 180deg
        )
    ;
}
