.flag-saint-lucia {
    --blue: #66ccff;
    --yellow: #fcd116;
    --black: #000;
    --white: #fff;

    --proportion: calc(1 / 2);

    --tall-triangle-angle: 48.46deg;
    --short-triangle-angle: 83.98deg;

    background-image:
        linear-gradient(
            0deg,
            var(--blue) 0 10%,
            transparent 0 100%
        ),
        conic-gradient(
            from calc(180deg - var(--short-triangle-angle) / 2) at 50% 50%,
            var(--yellow) 0 var(--short-triangle-angle),
            transparent 0 360deg
        ),
        conic-gradient(
            from calc(180deg - var(--tall-triangle-angle) / 2) at 50% 20%,
            var(--black) 0 var(--tall-triangle-angle),
            transparent 0 360deg
        ),
        conic-gradient(
            from calc(180deg - var(--tall-triangle-angle) / 2) at 50% 10%,
            var(--white) 0 var(--tall-triangle-angle),
            transparent 0 360deg
        )
    ;
    background-color: var(--blue);
}
