.flag-togo {
    --red: #d21034;
    --white: #fff;
    --green: #006a4e;
    --yellow: #ffce00;

    --aspect-ratio: calc(1 / 1.618);

    --star-color: var(--white);
    --star-background-color: var(--red);
    --star-radius: calc(19 / 100 * var(--height));
    --star-position: calc(1.5 / 5 * var(--height) - var(--star-radius));
    --star-x-position: var(--star-position);
    --star-y-position: var(--star-position);

    --canton-size: calc(3 / 5 * var(--height));

    background:
        /* Star */
        var(--single-five-pointed-star),

        /* Canton */
        linear-gradient(
            0deg,
            var(--red) 0 10%
        ) no-repeat 0 0 / var(--canton-size) var(--canton-size),

        /* Field */
        repeating-linear-gradient(
            180deg,
            var(--green) calc(0 / 5 * var(--height)),
            var(--green) calc(1 / 5 * var(--height)),
            var(--yellow) calc(1 / 5 * var(--height)),
            var(--yellow) calc(2 / 5 * var(--height))
        )
    ;
}
