.flag-nauru {
    --blue: #002b7f;
    --yellow: #ffc61e;
    --white: #fff;

    --proportion: calc(1 / 2);

    --scale: calc(var(--width) / 48);

    --star-outer-radius: calc(4 * var(--scale));
    --star-x: calc(12 * var(--scale));
    --star-y: calc(17 * var(--scale));
    --star-color: var(--white);

    --star-ray-rotation: 30.000000deg;
    --star-ray-angle: 28.103826deg;
    --sin-1-star-ray-rotation: 0.500000;
    --cos-1-star-ray-rotation: 0.866025;
    --sin-2-star-ray-rotation: 0.866025;
    --cos-2-star-ray-rotation: 0.500000;

    background:
        /* Star */
        /* rays (clockwise starting at bottom) */
        conic-gradient(
            from calc(0 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at 50% 100%,
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat calc(var(--star-x) - var(--star-outer-radius)) var(--star-y) / calc(var(--star-outer-radius) * 2) var(--star-outer-radius),
        conic-gradient(
            from calc(1 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at calc(100% - var(--star-outer-radius) * var(--cos-2-star-ray-rotation)) calc(var(--star-outer-radius) * var(--sin-2-star-ray-rotation)),
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat calc(var(--star-x) - var(--star-outer-radius)) var(--star-y) / var(--star-outer-radius) var(--star-outer-radius),
        conic-gradient(
            from calc(2 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at calc(100% - var(--star-outer-radius) * var(--cos-1-star-ray-rotation)) calc(var(--star-outer-radius) * var(--sin-1-star-ray-rotation)),
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat calc(var(--star-x) - var(--star-outer-radius)) var(--star-y) / var(--star-outer-radius) var(--star-outer-radius),
        conic-gradient(
            from calc(3 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at 0 50%,
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat calc(var(--star-x) - var(--star-outer-radius)) calc(var(--star-y) - var(--star-outer-radius)) / var(--star-outer-radius) calc(var(--star-outer-radius) * 2),
        conic-gradient(
            from calc(4 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at calc(100% - var(--star-outer-radius) * var(--cos-1-star-ray-rotation)) calc(100% - var(--star-outer-radius) * var(--sin-1-star-ray-rotation)),
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat calc(var(--star-x) - var(--star-outer-radius)) calc(var(--star-y) - var(--star-outer-radius)) / var(--star-outer-radius) var(--star-outer-radius),
        conic-gradient(
            from calc(5 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at calc(100% - var(--star-outer-radius) * var(--cos-2-star-ray-rotation)) calc(100% - var(--star-outer-radius) * var(--sin-2-star-ray-rotation)),
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat calc(var(--star-x) - var(--star-outer-radius)) calc(var(--star-y) - var(--star-outer-radius)) / var(--star-outer-radius) var(--star-outer-radius),
        conic-gradient(
            from calc(6 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at 50% 0,
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat calc(var(--star-x) - var(--star-outer-radius)) calc(var(--star-y) - var(--star-outer-radius)) / calc(var(--star-outer-radius) * 2) var(--star-outer-radius),
        conic-gradient(
            from calc(7 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at calc(var(--star-outer-radius) * var(--cos-2-star-ray-rotation)) calc(100% - var(--star-outer-radius) * var(--sin-2-star-ray-rotation)),
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat var(--star-x) calc(var(--star-y) - var(--star-outer-radius)) / var(--star-outer-radius) var(--star-outer-radius),
        conic-gradient(
            from calc(8 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at calc(var(--star-outer-radius) * var(--cos-1-star-ray-rotation)) calc(100% - var(--star-outer-radius) * var(--sin-1-star-ray-rotation)),
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat var(--star-x) calc(var(--star-y) - var(--star-outer-radius)) / var(--star-outer-radius) var(--star-outer-radius),
        conic-gradient(
            from calc(9 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at 100% 50%,
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat var(--star-x) calc(var(--star-y) - var(--star-outer-radius)) / var(--star-outer-radius) calc(var(--star-outer-radius) * 2),
        conic-gradient(
            from calc(10 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at calc(var(--star-outer-radius) * var(--cos-1-star-ray-rotation)) calc(var(--star-outer-radius) * var(--sin-1-star-ray-rotation)),
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat var(--star-x) var(--star-y) / var(--star-outer-radius) var(--star-outer-radius),
        conic-gradient(
            from calc(11 * var(--star-ray-rotation) - var(--star-ray-angle) / 2)
            at calc(var(--star-outer-radius) * var(--cos-2-star-ray-rotation)) calc(var(--star-outer-radius) * var(--sin-2-star-ray-rotation)),
            var(--star-color) 0 var(--star-ray-angle),
            transparent 0 360deg
        ) no-repeat var(--star-x) var(--star-y) / var(--star-outer-radius) var(--star-outer-radius),

        /* Stripes */
        linear-gradient(
            180deg,
            var(--blue) 0 calc(11 * var(--scale)),
            var(--yellow) 0 calc(13 * var(--scale)),
            var(--blue) 0 calc(24 * var(--scale))
        )
    ;
}
