.flag-laos {
    --red: #ce1126;
    --blue: #002868;
    --white: #fff;

    --aspect-ratio: calc(2 / 3);

    background-image:
        radial-gradient(
            circle at center,
            var(--white) 0 calc(4 / 30 * var(--width)),
            transparent 0 100%
        ),
        linear-gradient(
            0deg,
            var(--red) 0 25%,
            var(--blue) 0 75%,
            var(--red) 0 100%
        )
    ;
}
