:root {
    --default-flag-aspect-ratio: calc(2 / 3);
}

.flag-area {
    margin-bottom: 5rem;
    display: flex;
    flex-flow: column;
}

.flag-area .heading {
    margin-bottom: 2rem;
}

.flag-area .flag-name {
    margin-top: .5rem;
    margin-left: 1rem;
}

.flag-area .flag-container {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.flag-area .flag {
    --aspect-ratio: var(--default-flag-aspect-ratio);

    --width: 70vw;
    --height: calc(var(--width) * var(--aspect-ratio));

    width: var(--width);
    height: var(--height);

    --shadow-offset: .25rem;
    --shadow-blur: calc(2 * var(--shadow-offset));
    box-shadow:
        var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-color),
        0 0 var(--shadow-blur) var(--shadow-color);
}

@media all and (min-aspect-ratio: 2/1) {
    .flag-area .flag {
        --height: 70vh;
        --width: calc(var(--height) / var(--aspect-ratio));
    }
}

.flag-area .flag-description {
    margin-top: 2rem;
    padding: 0 10%;
}
