.flag-seychelles {
    --blue: #002f6c;
    --yellow: #fed141;
    --red: #d22730;
    --white: #fff;
    --green: #007a33;

    --proportion: calc(1 / 2);

    background-image:
        conic-gradient(
            from 0deg at 0% 100%,
            var(--blue) 0 33.69deg,
            var(--yellow) 0 53.13deg,
            var(--red) 0 71.57deg,
            var(--white) 0 80.538deg,
            var(--green) 0 90deg
        )
    ;
}
