.flag-maldives {
    --red: #bf0d3e;
    --green: #007367;
    --white: #fff;

    --aspect-ratio: calc(2 / 3);

    --circle-radius: calc(8 / 72 * var(--width));

    background-image:
        radial-gradient(
            circle at calc(42 / 72 * var(--width)) 50%,
            var(--green) 0 var(--circle-radius),
            transparent 0 100%
        ),
        radial-gradient(
            circle at calc(39 / 72 * var(--width)) 50%,
            var(--white) 0 var(--circle-radius),
            transparent 0 100%
        ),
        linear-gradient(
            0deg,
            var(--red) 0 calc(12 / 48 * var(--height)),
            transparent 0 calc(36 / 48 * var(--height)),
            var(--red) 0 calc(48 / 48 * var(--height))
        ),
        linear-gradient(
            90deg,
            var(--red) 0 calc(12 / 72 * var(--width)),
            var(--green) 0 calc(60 / 72 * var(--width)),
            var(--red) 0 calc(72 / 72 * var(--width))
        )
    ;
}
