.flag-maldives {
    --red: #bf0d3e;
    --green: #007367;
    --white: #fff;

    --proportion: calc(2 / 3);

    --circle-radius: calc(8 / 72 * var(--width));

    background:
        /* Crescent */
        radial-gradient(
            circle at calc(42 / 72 * var(--width)) 50%,
            var(--green) 0 var(--circle-radius),
            transparent 0 100%
        ),
        radial-gradient(
            circle at calc(39 / 72 * var(--width)) 50%,
            var(--white) 0 var(--circle-radius),
            transparent 0 100%
        ),

        /* Background */
        linear-gradient(
            180deg,
            var(--green) 0 100%
        ) no-repeat calc(12 / 72 * var(--width)) calc(12 / 48 * var(--height)) / calc(48 / 72 * var(--width)) calc(24 / 48 * var(--height))
    ;
    background-color: var(--red);
}
