.flag-colombia {
    --yellow: #fcd116;
    --blue: #003893;
    --red: #ce1126;

    --proportion: calc(2 / 3);

    background-image:
        linear-gradient(
            180deg,
            var(--yellow) 0 calc(2 / 4 * var(--height)),
            var(--blue) 0 calc(3 / 4 * var(--height)),
            var(--red) 0 calc(4 / 4 * var(--height))
        )
    ;
}
