.flag-tonga {
    --red: #c10000;
    --white: #fff;

    --aspect-ratio: calc(1 / 2);

    --width-scale: calc(var(--width) / 168);
    --height-scale: calc(var(--height) / 84);
    --canton-width: calc(70 * var(--width-scale));
    --canton-height: calc(42 * var(--height-scale));
    --cross-thickness: calc(12 * var(--width-scale));
    --cross-length: calc(34 * var(--width-scale));

    background:
        linear-gradient(
            0deg,
            var(--red) 0 100%
        ) no-repeat calc(18 * var(--width-scale)) calc(15 * var(--height-scale)) / var(--cross-length) var(--cross-thickness),
        linear-gradient(
            0deg,
            var(--red) 0 100%
        ) no-repeat calc(29 * var(--width-scale)) calc(4 * var(--height-scale)) / var(--cross-thickness) var(--cross-length),
        linear-gradient(
            0deg,
            var(--white) 0 100%
        ) no-repeat 0 0 / var(--canton-width) var(--canton-height)
    ;
    background-color: var(--red);
}
