.flag-tonga {
    --red: #c10000;
    --white: #fff;

    --proportion: calc(1 / 2);

    --scale: calc(var(--width) / 168);

    --canton-width: calc(70 * var(--scale));
    --canton-height: calc(42 * var(--scale));
    --cross-thickness: calc(12 * var(--scale));
    --cross-length: calc(34 * var(--scale));

    background:
        linear-gradient(
            0deg,
            var(--red) 0 100%
        ) no-repeat calc(18 * var(--scale)) calc(15 * var(--scale)) / var(--cross-length) var(--cross-thickness),
        linear-gradient(
            0deg,
            var(--red) 0 100%
        ) no-repeat calc(29 * var(--scale)) calc(4 * var(--scale)) / var(--cross-thickness) var(--cross-length),
        linear-gradient(
            0deg,
            var(--white) 0 100%
        ) no-repeat 0 0 / var(--canton-width) var(--canton-height)
    ;
    background-color: var(--red);
}
